*{
    border-radius: 20px;
   
}

body{
    background: rgba(111, 111, 141, 0.719);}
    
    section{
        position: relative;

        width: 600px;
        margin: auto;
    background: white;
}
.nome{
    background: rgba(76, 76, 126, 0.329); 
    box-shadow: 2px 2px 10px;
}
fieldset{
    background: grey;
    border-radius: 10px;
    color:rgb(9, 51, 51);
    box-shadow: 2px 2px 10px;
margin-bottom: 1%;
}
header{
    text-align: center;
    color:white;
    box-shadow: 2px 2px 10px;

}
div#corp{
    position: relative;
    margin: auto;
    width: 700px;
    border: solid black;
    background: grey;
    top: 200px;
    box-shadow: 2px 2px 10px;

}
input, label{
    box-shadow: 2px 2px 10px;

}