body{
    background: rgba(76, 172, 76, 0.568);
}
header{
    color: white;
    text-align: center;
    background: purple;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px 0px;
}
section{
    position: relative;
    width: 500px;
    margin: auto;
    background: rgba(128, 128, 128, 0.411);
    border-radius: 0px 10px 0px 10px;
    box-shadow: 5px 5px 10px;
    top: -10px;
}
form{
    position: relative;
    width: 350px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 10px;

}
input#txtvel{
    width: 50px;
}
footer{
    text-align: center;
    color: white;
    padding: 5px;
}
div#total{
    position: relative;
    margin: auto;
    top: 250px;
    background: orange;
    border-radius: 10px 10px 10px;
    width: 600px;
}
label{
    color: blue;
}