*{
    border-radius: 10px;
}
body{
    background: rgba(12, 11, 10, 0.151);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    color: green;
}
section{
    position: relative;
    width: 500px;
    margin: auto;
    background: rgba(128, 128, 128, 0.404);
    border: solid white;
    box-shadow:5px 5px 10px rgb(133, 123, 123);
}
fieldset{
    background-color: rgb(45, 110, 74);
}
legend{
color: blue
}
div#corp{
    position: relative;
    margin: auto;
margin-top: 250px;
}