
body{
background: rgb(59, 54, 54);


}
section{
position: relative;
width: 400px;
margin: auto;
    box-shadow: 2px 2px 10px;

}
header{
    text-align: center;
    color: white;
    box-shadow: 2px 2px 10px;

}
#corpo{
    position: relative;
    margin: auto;
border: solid;
width: 450px;
    box-shadow: 2px 2px 10px;
background: rgb(47, 85, 47);
top: 250px;
}
#res{
    border: solid;
    margin-bottom: 1px;
}
input#ano{
    width: 52px;
}
#btn{
    position: relative;
    left: 50px;
}
div#res{
    position: relative;
    bottom: -10px;
    top: -10px;
}